body {
    background-color: #190482;
    }
section {
    width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background-color: #7752FE;
    border-radius: 8px;
    box-shadow: 0 0 40px;
    }
img {
    position: sticky;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 125px;
    }